header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

.NavList a {
  padding: 1em;
}

.IconModel {
  width: clamp(50px, 50%, 250px);
  border-radius: 100%;
  border: black solid 1px;
}

.IconModel:hover {
  border-radius: 100%;
  opacity: 0.5;
}
