header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

.IconModel {
  display: flex;
  position: relative;
  border-radius: 100%;
}

.NavList {
  display: flex;
  font-size: large;
  max-height: 15vh;
}

.NavList a {
  padding: 1em;
}

.IconModel img {
  margin: 1em;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: black solid 1px;
}

.IconModel a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.NavList .Projetos {
  border-radius: 50%;
  transition: all 1s ease-in;
}

.NavList .Projetos:hover {
  color: #fbf7f700;
  background-image: url(src/assets/blackHole2.png);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: rotate-horizontal-bottom 0.1s ease-in infinite reverse both;
  cursor: pointer;
  transition: all 1s ease;
}

.NavList .Projetos.Click {
  color: #00000000;
  background-image: url(src/assets/blackHole2.png);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: rotate-horizontal-bottom-2 3s ease-in;
}

@keyframes rotate-horizontal-bottom {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-horizontal-bottom-2 {
  0% {
    transform: rotateZ(0) scale(1);
  }
  5% {
    transform: rotateZ(360deg) scale(166%);
  }
  10% {
    transform: rotateZ(0) scale(333%);
  }
  15% {
    transform: rotateZ(360deg) scale(499%);
  }
  20% {
    transform: rotateZ(0) scale(666%);
  }
  25% {
    transform: rotateZ(360deg) scale(831%);
  }
  30% {
    transform: rotateZ(0) scale(991%);
  }
  35% {
    transform: rotateZ(360deg) scale(1151%);
  }
  40% {
    transform: rotateZ(0) scale(1311%);
  }
  45% {
    transform: rotateZ(360deg) scale(1471%);
  }
  50% {
    transform: rotateZ(0) scale(1630%);
  }
  55% {
    transform: rotateZ(360deg) scale(1791%);
  }
  60% {
    transform: rotateZ(0) scale(1950%);
  }
  65% {
    transform: rotateZ(360deg) scale(2111%);
  }
  70% {
    transform: rotateZ(0) scale(2271%);
  }
  75% {
    transform: rotateZ(360deg) scale(2500%);
  }
  80% {
    transform: rotateZ(0) scale(3000%);
  }
  85% {
    transform: rotateZ(360deg) scale(4000%);
  }
  90% {
    transform: rotateZ(0) scale(5000%);
  }
  95% {
    transform: rotateZ(360deg) scale(10000%);
  }
  100% {
    transform: rotateZ(0) scale(10000%);
  }
}

.IconModel.Click {
  transform: translate(1000px, -100px) scale(0.3);
  color: #00000000;
}
