.Projetos {
  width: 100px;
  height: 100px;
  background-color: #00000000;
  border: none;
  border-radius: 100%;
  transition: all 1s ease-in;
}

.Projetos:hover {
  color: #fbf7f700;
  background-image: url(../../assets/blackHole2.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: rotate-horizontal-bottom 0.1s ease-in infinite reverse both;
  cursor: pointer;
}

@keyframes rotate-horizontal-bottom {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-horizontal-bottom-2 {
  0% {
    transform: rotateZ(0) scale(1);
  }
  5% {
    transform: rotateZ(360deg) scale(166%);
  }
  10% {
    transform: rotateZ(0) scale(333%);
  }
  15% {
    transform: rotateZ(360deg) scale(499%);
  }
  20% {
    transform: rotateZ(0) scale(666%);
  }
  25% {
    transform: rotateZ(360deg) scale(831%);
  }
  30% {
    transform: rotateZ(0) scale(991%);
  }
  35% {
    transform: rotateZ(360deg) scale(1151%);
  }
  40% {
    transform: rotateZ(0) scale(1311%);
  }
  45% {
    transform: rotateZ(360deg) scale(1471%);
  }
  50% {
    transform: rotateZ(0) scale(1630%);
  }
  55% {
    transform: rotateZ(360deg) scale(1791%);
  }
  60% {
    transform: rotateZ(0) scale(1950%);
  }
  65% {
    transform: rotateZ(360deg) scale(2111%);
  }
  70% {
    transform: rotateZ(0) scale(2271%);
  }
  75% {
    transform: rotateZ(360deg) scale(2500%);
  }
  80% {
    transform: rotateZ(0) scale(3000%);
  }
  85% {
    transform: rotateZ(360deg) scale(4000%);
  }
  90% {
    transform: rotateZ(0) scale(5000%);
  }
  95% {
    transform: rotateZ(360deg) scale(10000%);
  }
  100% {
    transform: rotateZ(0) scale(10000%);
  }
}
